numpy==1.16.0
scipy==1.0.1


scikit-learn==0.19.1
#tensorflow-gpu==1.10.0
tensorflow==1.14.0
tflearn==0.3.2
keras==2.2.4
h5py==2.7.1


gym==0.10.9
patchelf-wrapper==1.0.4
pycolab==1.2
stable_baselines==2.4.0

neptune-client==0.4.1
git+https://github.com/deepsense-ai/mrunner.git@new_neptune
munch==2.3.2
psutil==5.6.6
cloudpickle==0.6.1
gin-config==0.3.0

rubik_solver==0.2.0
